::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Edge */
}

::-webkit-scrollbar-track {
    background: #f3f4f6;
    /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    /* Color of the scroll thumb */
    border-radius: 4px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    /* Darker color on hover */
}

/* Remove spinner arrows for Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner arrows for Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
